.btn-grad {
	background-image: linear-gradient(to right, #99C624 0%, #8BB619 51%, #3F5507 100%)
}

.btn-grad {
	margin: 5px;
	width: 100px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 5px;
	display: block;
}

.btn-grad:hover {
	background-position: right center;
	/* change the direction of the change here */
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}