<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>500 - Internal Server Error </title>
<link href="https://as1.ftcdn.net/jpg/02/67/54/94/500_F_267549416_zTrBC52pr6s4zmbc9UKUmZ3tEUnXXhJM.jpg" rel="icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Elegant Error Page template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/css/404.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="agileits-main"> 
		<div class="agileinfo-row">
			<div class="w3layouts-errortext">
				<h2>5<span>0</span>0</h2>		
				<h1>Oops, something went wrong :((</h1>
				<p class="w3lstext">Try to refresh this page or feel free to contact us if the problem persists.</p>
				<div class="agile-search"> 
					<form action="#" method="post">
						<a th:href="@{/veg/home}">Back Home</a>
					</form> 
				</div>
				<div class="w3top-nav-right">	
					<ul>
						<li><a th:href="@{/veg/about}">About</a></li>  
						<li><a th:href="@{/veg/blog}">Blog</a></li> 
						<li><a th:href="@{/veg/contact}">Contact</a></li>
					</ul> 
				</div>	
			</div>	
		</div>	
	</div>	

</body>
</html>