<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{fragments/layout.html :: dynamic(~{::title},~{::body})}">
<head>
<meta charset="UTF-8">
<link href="https://as1.ftcdn.net/jpg/02/67/54/94/500_F_267549416_zTrBC52pr6s4zmbc9UKUmZ3tEUnXXhJM.jpg" rel="icon">

<title>Verify</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<div class="container text-center">
		<h3>Sorry [[${fullname}]], we could not verify account. Please check email [[${email}]] for verification.</h3>
	</div>
</body>
</html>